.home-page{
    display: flex;
}

.home-heading{
    font: var(--secondary-font);
    font-weight: bolder;
    font-size: 700%;
    color:#000;
    margin-top: 10%;
    margin-left: 5%;
    width: 50%;
}

.text{
    color:var(--primary-color);
    margin-top: 13%;
    width: 30%;
    text-align: left;
    float: right;
    font: var(--secondary-font);
    margin-left: 10%;
    font-size: 130%;
}


.btn{
    width: 150px;
    height: 40px;
    font: var(--primary-font);
    border-radius: 20px;
    background-color: var(--primary-color);
    color: #000;
    font-weight: bold;
    border: 0;
    float: right;
    margin-right: 24%;
    margin-top: 3%;
}

@media screen and (max-width: 1024px){
    .button{
        top: 30%;
    }
    .text{
        top: 12%;
    }
}

@media screen and (max-width: 800px){
    .button{
        top: 30%;
    }
    .text{
        top: 15%;
        width: 80%;
    }
}

@media screen and (max-width: 600px){
    .button{
        top: 42%;
        left: 20px;
    }
    .text{
        top: 18%;
        width: 100%;
        left: 20px;
    }
    .home-heading{
        left: 20px;
    }
}

@media screen and (max-width: 450px){
    .button{
      margin-top: 100%;
    }
    .text{
        margin-top: 50%;
        width: 100%;
        margin-left: 5px;
        margin-right: 5px;
    }
    .home-heading{
        font-size: 300%;
    }

    .b-img{
        display: none;
    }
}

@media screen and (max-width: 450px){
    .button{
      margin-top: 100%;
    }
    .text{
        margin-top: 30%;
        width: 100%;
        margin-left: 5px;
        margin-right: 5px;
    }
    .home-heading{
        font-size: 200%;
    }
}