.home-page{
    position: relative;
    text-align: center;
}
.b-img{
   
   width: 100%;
}

.heading{
    font: var(--primary-font);
    font-weight: bolder;
    font-size: 400%;
    color:#fff;
    position: absolute;
    top: 40px;
    left: 40px;
}

.text{
    position: absolute;
    color:#fff;
    top: 10%;
    left:40px;
    width: 40%;
    text-align: left;
    font: var(--primary-font);
}

.button{
    position: absolute;
    top: 20%;
    left: 40px;
}

.btn{
    width: 150px;
    height: 40px;
    font: var(--primary-font);
    border-radius: 20px;
    background-color: #fff;
    color: var(--default-color);
    font-weight: bold;
}