.form-container {
    display: flex;
  }

.heading{
    font: var(--secondary-font);
    font-weight: bold;
    color: #fff;
    font-size: 220%;
    position: absolute;
    top: 20px;
    left: 40px;
}

.right-side{
    width: 50%;
    color: white;
    background-color: #000;
    opacity: .8;
    height: 720px;
}

.left-side{
    margin-top: 12%;
    width: 50%;
    color: #fff;
}

.label{
    font: var(--primary-font);
}

.amt-input{
    height: 40px;
    width: 70%;
    border-radius: 30px;
    padding-left: 20px;
    font-size: 20px;
    border: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
    margin: 0;
}

select{
    height: 40px;
    width: 72%;
    border-radius: 30px;
    padding-left: 20px;
    font-size: 20px;
    border: 0;
}

.amt{
    margin: 40px;
}

.from{
    margin: 40px;
}

.to{
    margin: 40px;
}

.amount{
    text-align: right;
    margin: 240px 100px 10px;
}

.base-amt{
    margin-bottom: 0px;
    font: var(--primary-font);
    font-size: 400%;
    color: var(--secondary-color);
}

.base-currency{
    margin-top: 0px;
    font: var(--primary-font);
    font-size: 120%;
    opacity: .6;
}

.new-amount{
    text-align: right;
    margin: 100px 100px 10px;
}

@media screen and (min-height: 720px){
    .right-side{
        height: 1000px;
    }
}

@media screen and (max-width: 767px){
    .form-container{
        display: block;
    }

    .heading{
        margin-top: 20%;
    }
    .left-side{
        width: 100%;
        margin-top: 40%;
    }
    .right-side{
        width: 100%;

    }
    .amount{
        margin-top: 0px;
        text-align: center;
    }
    
}

@media screen and (max-width: 374px){
    .form-container{
        display: block;
    }
    .heading{
        margin-top: 29%;
    }
    .left-side{
        width: 100%;
        margin-top: 62%;
    }
    .right-side{
        width: 100%;

    }
    .amount{
        margin: 0px;
        text-align: center;
    }

    .new-amount{
        margin: 0px;
        text-align: center;
    }
}