:root {
    --primary-color: #0b84d5;
    --primary-font: "Open Sans", sans-serif;
    --secondary-font: "Nunito", sans-serif;
    --font-color: #3f3f3f;
  }
  body {
    font-family: "Source Sans Pro", sans-serif;
    background: linear-gradient(120deg, #0b84d5 50%, #000 50%);
    height: 1000px;
    color: var(--font-color);
  }